*{
	margin: 0;
	padding: 0;
}
body, html{
	width: 100%;
	height: 100%;
	background-color: #000;
	font-size: 0;
}
.wrapper{
	width: 100%;
}
.wrapper li{
	display: inline-block;
	width: 25%;
	padding: 5px;
	box-sizing: border-box;
	overflow: hidden;
	position: relative;
	opacity: 0;
}
.wrapper li img{
	width: 100%;
	position: absolute;
	top: 50%;
	transform: translateY(-50%);
}
.show{
	position: absolute;
	top: 0;
	left: 0;
	background-color: rgba(0, 0, 0, 0.9);
	width: 100%;
	height: 100%;
	z-index: 99;
	display: none;
}
.show img{
	position: absolute;
	top: 50%; left: 50%;
	transform: translateX(-50%) translateY(-50%);
	opacity: 0;
}